# Pandas

pandas is a fast, powerful, flexible and easy to use open source data analysis and manipulation tool,
built on top of the Python programming language.

Compared to `numpy`, `pandas` is primarily used for handling 2D tabular data with rows and columns, similar to excel spreadsheets.

<img src="https://pynative.com/wp-content/uploads/2021/02/dataframe.png" alt="Cat" width="500"/>

## Basic data structures in pandas

Pandas provides two types of classes for handling data:

- `Series`: a one-dimensional labeled column holding data of any type such as integers, strings, Python objects etc.

- `DataFrame`: a two-dimensional data structure that holds data like a two-dimension array or a table with rows and columns.

In [ ]:
import pandas as pd # often people use pd as alias for pandas

import numpy as np

You can create a Series or DataFrame by

In [ ]:
#Creating a Series
simple_series= pd.Series([1, 3, 5, 8, 6, 8])
simple_series

In [ ]:
#Creating a DataFrame (df)
flood_risk = {
  'City': ["Tallahassee", "Tampa", "Miami"],
  'Flood Risk': [3, 7, 6]
}

df = pd.DataFrame(flood_risk)

df

## Indexing

In [ ]:
#locate row
df.loc[0]

In [ ]:
#locate a column by its name 
df["City"]

In [ ]:
# or but in this case your column name cannot have spaces
df.City

Select by position

In [ ]:
df.iloc[0,1] # get the value for the data at row 0 and column 1

In [ ]:
df.iloc[:2, :2] #You can also do slicing

Use `:` to represent all

In [ ]:
df.iloc[0, : ] #Get the data for all columns at row 0

In [ ]:
df.iloc[:, 0 ] #Get the data for rows at column 0

## Load Data

`pandas` can read data with various formats such as excel spreadsheet (.xlsx) or Comma separated values (.csv)

CSV (Comma-Separated Values) is often preferred over Excel in Python because CSV is a plain text file that can be easily handled across different platforms, systems, and languages. Almost every programming language supports reading and writing CSV files, making them highly portable.

In [ ]:
url = "https://raw.githubusercontent.com/Ziqi-Li/GIS5103/main/data/Florida_counties_median_income_2021.csv"

fl_income = pd.read_csv(url)

Get the first 5 rows and the last 5 rows of the data

In [ ]:
fl_income.head()

In [ ]:
fl_income.tail()

## Export data

In [ ]:
fl_income.to_csv("fl_income_copy.csv")

You should see a copy of the data named `fl_income_copy.csv` in the same folder where you have your notebook.

You can read it back into notebook as:

In [ ]:
fl_income_copy = pd.read_csv("fl_income_copy.csv") #optional parameter: index_col=0

fl_income_copy

## Boolean indexing

In [ ]:
fl_income.Median_income >= 70000

Return all the county rows with Median_income greater than $70,000

In [ ]:
fl_income[fl_income.Median_income >= 70000]

You need to create another variable if you want to **store** the filtered results

In [ ]:
fl_income_high = fl_income[fl_income.Median_income >= 70000]
fl_income_high

Return all colums for Leon county

In [ ]:
fl_income[fl_income.Name == "Leon County, Florida"] #Need to match exactly!

Similarly, you can use `isin`.

In [ ]:
fl_income[fl_income.Name.isin(["Leon County, Florida"])]

Or not `isin` by using a `~` sign

In [ ]:
fl_income[~fl_income.Name.isin(["Leon County, Florida"])] # All counties other than Leon

### You can subset columns

In [ ]:
sub_columns = ["Geo_ID", "Median_income"]

sub_df = fl_income[sub_columns]
sub_df

### Summarize Data

Use `describe()` to get summary statsitics for all numerical columns

In [ ]:
fl_income.describe()

The DataFrames object has a method called info(), that gives you more information about the data set.

In [ ]:
fl_income.info()

## Modifying DataFrame

Adding a new empty column

In [ ]:
fl_income['new_column'] = None
fl_income

A new column with a constant value

In [ ]:
fl_income['new_column'] = 1
fl_income

Adding a new column by passing new data (here, new data is generated from exisiting column)

In [ ]:
fl_income['Median_income_in_1000s'] = fl_income["Median_income"]/1000
fl_income

Modify a specific item: row 3, column 'Median_income_in_000s'

In [ ]:
fl_income.loc[3, 'Median_income_in_000s'] = -9999

In [ ]:
fl_income

Sometimes, the raw data may use a specific numbe to represent missing data. It is suggested to assign `np.nan` to these missing data, otherwise, some statsitics claculated might be wrong.

In [ ]:
fl_income.loc[fl_income["Median_income_in_000s"] == -9999, "Median_income_in_000s"] = np.nan

In [ ]:
fl_income

Use `isna()` to test wether the value is na, the results will be boolean, then you can sum to get the number of missing value

In [ ]:
fl_income['Median_income_in_000s'].isna().sum()

You can drop rows with missing values in any columns using the `dropna()` function

In [ ]:
fl_income.dropna()

## String operations

In [ ]:
fl_income.Name.str.split(', ', expand=True) # setting expand to be True will return you with a dataframe

In [ ]:
fl_income[["County","State"]] = fl_income.Name.str.split(', ', expand=True)

fl_income

To subset the string in each row

In [ ]:
fl_income["County"] = fl_income.County.str[:-7]

In [ ]:
fl_income["Geo_ID_5"] = fl_income.Geo_ID.str[-5:]

In [ ]:
fl_income["Geo_ID_5_int"] = fl_income["Geo_ID_5"].astype(int)

## Merging two dataframes

In [ ]:
url = "https://raw.githubusercontent.com/Ziqi-Li/GIS5103/main/data/USA_Counties_(Generalized).csv"
all_counties = pd.read_csv(url)

In [ ]:
all_counties.head()

In [ ]:
fl_pop = all_counties[all_counties.STATE_NAME == "Florida"]
fl_pop

Use `pd.merge()` function by specifying the left table, right table and the columns in both left and right tables that will be used for merging. This will return you with a new table.

In [ ]:
merged = pd.merge(left=fl_income, right=fl_pop, left_on="Geo_ID_5_int",right_on="FIPS")

merged

## Plotting

Create a histogram of a column

In [ ]:
fl_income.Median_income.hist()

In [ ]:
fl_pop.POPULATION.hist()

In [ ]:
help(fl_income.Median_income.hist)

In [ ]:
fl_income.Median_income.hist(bins=5, legend=True)

In [ ]:
merged.hist()

Calculate pair-wise correlation coefficients for numerical columns

In [ ]:
merged[["POPULATION","Median_income"]].corr()

Scatterplot by specifying column names of x and y axis.

In [ ]:
merged.plot(kind = 'scatter', x = 'POPULATION', y = 'Median_income')

### Group by and aggregation

Another common task is to summarize data across categories. In this case, we can use `.groupby()` function together with `.agg()` to do the job.


The `.groupby()` function in Pandas is used to group data based on the values in one or more columns. It splits the data into separate groups and allows you to perform aggregate operations (such as sum, mean, count, etc.) on each group independently. This is useful when you want to analyze data that falls into different categories or groups.


The `.agg()` function (short for aggregation) allows you to apply multiple aggregation operations to the grouped data. This is particularly powerful because you can specify different functions for different columns at the same time. It can work with a single column or across multiple columns in the DataFrame.

Consider we have a table

In [ ]:
import pandas as pd

# Sample data for regions
data = {
    'Region': ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H'],
    'Population': [32000, 45000, 28000, 50000, 42000, 38000, 46000, 33000],
    'Area_km2': [10, 15, 8, 20, 12, 13, 18, 11],
    'Land_Use_Type': ['Residential', 'Commercial', 'Industrial', 'Residential', 
                      'Industrial', 'Residential', 'Commercial', 'Industrial']
}


df = pd.DataFrame(data)

# Adding a population density column for each region
df['Density'] = df['Population'] / df['Area_km2']
df


**Tasks:** Group by Land_Use_Type and calculate the following:

- Total Population for each land use type.
- Average Population Density for each land use type.
- Total Land Area for each land use type.

In [ ]:
# Group by 'Land_Use_Type' and aggregate using .agg()
grouped = df.groupby('Land_Use_Type').agg(
    Total_Population=('Population', 'sum'),
    Avg_Density=('Density', 'mean'),
    Total_Area=('Area_km2', 'sum')
)

# Display the resulting DataFrame
grouped

Explanation of `.groupby()` and `.agg()`:

- `.groupby('Land_Use_Type')`: This groups the DataFrame by the values in the Land_Use_Type column.
- `.agg()`: This function allows you to apply multiple aggregation operations to the grouped data.
- `Total_Population=('Population', 'sum')`: Sums up the population for each land use type.
- `Avg_Density=('Density', 'mean')`: Calculates the average population density for each land use type.
- `Total_Area=('Area_km2', 'sum')`: Sums up the total land area for each land use type.

### Documentation on https://pandas.pydata.org/docs/reference/general_functions.html